@model IEnumerable<string>;
@{
    ViewData["Title"] = "Index";
}

<h2>Todo list</h2>
<span>Total todos: @Model.Count()</span>
<ul>
    @foreach (var todo in Model)
    {
        <li>
            @todo
        </li>
    }
</ul>
